<div *ngIf="(usersState$ | async) as state" [ngSwitch]="state.dataState">
  <div *ngSwitchCase="DataState.LOADED" @fadeInOut>

    <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">

            <!-- navbar -->
            <app-navbar [user]="state?.appData?.data?.user"></app-navbar>


                <!-- CONTENU PRINCIPAL DE LA PAGE -->
                  <!-- Begin Page Content -->
                  <!-- <div>{{ state | json }} </div> -->
                  <section>
                    <div class="container">
                      <nav aria-label="breadcrumb" style="margin-top: 8px;">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                          <li class="breadcrumb-item"><a [routerLink]="['/users']">Users</a></li>
                          <li class="breadcrumb-item active" aria-current="page">{{ state?.appData?.data?.userById.firstName }} {{ state?.appData?.data?.userById.lastName }}</li>
                        </ol>
                    </nav>
                       <div class="bg-white shadow rounded-lg d-block d-sm-flex" style="border-radius: 8px;">
                          <div class="profile-tab-nav border-right">
                             <div class="p-4">
                                <div class="img-circle text-center mb-3" >
                                   <span style="position: relative">
                                      <img [src]="state?.appData?.data?.userById?.imageUrl" alt="Picture" class="shadow" />
                                   <!-- <i (click)="fileInput.click()" class="bi bi-camera-fill right-position"></i> -->
                                   </span>
                                </div>
                                <h4 class="text-center">{{ state?.appData?.data?.userById?.firstName }} {{ state?.appData?.data?.userById?.lastName }}</h4>
                                <span class="">Since {{ state?.appData?.data?.userById?.createdAt | date: 'MMMM d, y' }}</span>
                             </div>
                             <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="profile" data-bs-toggle="pill" data-bs-target="#profile-tab" aria-selected="true" aria-controls="profile" role="tab">
                                   <i class="bi bi-person-circle" style="margin-right: 12px;"></i> Profile
                                </a>
                                <a disabled title="unauthorized !" class="nav-link" id="password" data-bs-toggle="pill" data-bs-target="#password-tab" aria-selected="true" aria-controls="password" role="tab">
                                   <i class="bi bi-key-fill" style="margin-right: 12px;"></i> Password
                                </a>
                                <a class="nav-link" id="security" data-bs-toggle="pill" data-bs-target="#security-tab" aria-selected="true" aria-controls="security" role="tab">
                                   <i class="bi bi-shield-shaded" style="margin-right: 12px;"></i> Authorization
                                </a>
                                <a class="nav-link" id="application" data-bs-toggle="pill" data-bs-target="#application-tab" aria-selected="true" aria-controls="application" role="tab">
                                   <i class="bi bi-gear" style="margin-right: 12px;"></i> Account
                                </a>
                                <a class="nav-link" id="notification" data-bs-toggle="pill" data-bs-target="#notification-tab" aria-selected="true" aria-controls="notification" role="tab">
                                   <i class="bi bi-lock-fill" style="margin-right: 12px;"></i> Authentication
                                </a>
                             </div>
                          </div>
                          <div class="tab-content p-4 p-md-5" id="v-pills-tabContent" style="border-left: 1px solid #d4d0d0;">
                             <div class="tab-pane fade show active" id="profile-tab" role="tabpanel" aria-labelledby="profile" style="min-height: 510px;">
                                <h3 class="mb-0">Profile Settings</h3>
                                <form #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm)">
                                    <input type="hidden" name="id" [ngModel]="state?.appData?.data?.userById?.id">
                                   <div class="row">
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              <label>First Name</label>
                                              <input type="text" name="firstName" [ngModel]="state?.appData?.data?.userById?.firstName" readonly class="form-control">
                                         </div>
                                      </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              <label>Last Name</label>
                                              <input type="text" name="lastName" [ngModel]="state?.appData?.data?.userById?.lastName" readonly class="form-control">
                                         </div>
                                      </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              <label for="email">Email</label>
                                              <input type="text" name="email" [ngModel]="state?.appData?.data?.userById?.email" readonly class="form-control">
                                         </div>
                                      </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              <label>Phone</label>
                                              <input type="text" name="phone" [ngModel]="state?.appData?.data?.userById?.phone" readonly class="form-control">
                                         </div>
                                      </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              <label>Address</label>
                                              <input type="text" name="address" [ngModel]="state?.appData?.data?.userById?.address" readonly class="form-control">
                                         </div>
                                      </div>
                                      <div class="col-md-6">
                                         <div class="form-group">
                                              <label>Job Title</label>
                                              <input type="text" name="title" 
                                                [ngModel]="state?.appData?.data?.userById?.title" 
                                                [readonly]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' 
                                                || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') 
                                                || state?.appData?.data?.user?.id === state?.appData?.data?.userById?.id" 
                                                [disabled]="state?.appData?.data?.userById?.roleName === 'ROLE_SYSADMIN'" class="form-control">
                                          </div>
                                       </div>
                                      </div>
                                      <div class="col-md-12">
                                         <div class="form-group">
                                              <label>Bio</label>
                                            <textarea name="bio" [ngModel]="state?.appData?.data?.userById?.bio" readonly class="form-control" rows="4"></textarea>
                                         </div>
                                      </div>
                                       <div class="d-flex align-items-center mb-4">
                                          <button type="submit" class="btn btn-primary mr-3" [disabled]="!(state?.appData?.data?.user.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user.roleName === 'ROLE_ADMIN') || state?.appData?.data?.user?.id === state?.appData?.data?.userById?.id || (isLoading$ | async)">
                                             <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                             <span *ngIf="isLoading$ | async">Loading...</span>
                                             <span *ngIf="!(isLoading$ | async)">Update</span>
                                          </button> 
                                          <label for="agencyCode" class="ml-auto"> choose agency</label>
                                          <select name="agencyCode" class="form-control col-md-2 ml-auto" [ngModel]="state?.appData?.data?.userById.agencyCode" [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || state?.appData?.data?.user?.id === state?.appData?.data?.userById?.id" [disabled]="state?.appData?.data?.userById?.roleName === 'ROLE_SYSADMIN'" required>
                                                <option [selected]="true" value="">EMPTY</option>
                                                <option *ngFor="let agency of state?.appData?.data?.agencies" [value]="agency.code">
                                                   {{ agency.code }}
                                             </option>
                                          </select>
                                       </div>
                                </form>
                             </div>
                             <div class="tab-pane fade" id="password-tab" role="tabpanel" aria-labelledby="password" style="min-height: 510px;">
                                <h3 class="mb-4">Password Settings</h3>
                                <form #passwordForm="ngForm" (ngSubmit)="updatePassword(passwordForm)">
                                <div class="row">
                                   <div class="col-md-6">
                                      <div class="form-group">
                                           <label>Current password</label>
                                           <input type="password" name="currentPassword" ngModel [disabled]="(isLoading$ | async)" class="form-control" required>
                                      </div>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col-md-6">
                                      <div class="form-group">
                                           <label>New password</label>
                                           <input type="password" name="newPassword" ngModel [disabled]="(isLoading$ | async)" class="form-control" minlength="5" required>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="form-group">
                                           <label>Confirm new password</label>
                                           <input type="password" name="confirmNewPassword" ngModel [disabled]="(isLoading$ | async)" class="form-control" minlength="5" required>
                                      </div>
                                   </div>
                                </div>
                                <div>
                                  <button [disabled]="passwordForm.invalid || (isLoading$ | async)" type="submit" class="btn btn-primary">
                                     <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                     <span *ngIf="isLoading$ | async">Loading...</span>
                                     <span *ngIf="!(isLoading$ | async)">Update</span>
                                  </button>
                                </div>
                             </form>
                             </div>
                             <div class="tab-pane fade" id="security-tab" role="tabpanel" aria-labelledby="security" style="min-height: 510px;">
                                <h3 class="mb-4">Authorization Settings</h3>
                                <form #roleFormById="ngForm" (ngSubmit)="updateRoleById(roleFormById)">
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                          <label style="margin-bottom: 5px;">Role Name</label>
                                                <!-- recuperation de l'id pour l'Update #cacher -->
                                          <span hidden> <input type="id" name="userId" [ngModel]="state?.appData?.data?.userById?.id"> </span>
                                                <!-- recuperation du role pour l'Update #cacher -->
                                          <select name="roleName" [ngModel]="state?.appData?.data?.userById?.roleName" 
                                                                  [disabled]="state?.appData?.data?.userById?.roleName === 'ROLE_SYSADMIN'" 
                                                                  [readonly]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN') || (isLoading$ | async)"
                                                                  class="form-control select-cl" required>
                                              <option *ngFor="let role of state?.appData?.data?.roles"
                                                      [selected]="state?.appData?.data?.userId?.roleName === role.name"
                                                      [ngValue]="role.name"
                                              class="select-cl">{{ role.name }}</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="margin-bottom: 5px;">Role Permissions</label>
                                            <input type="text" *ngFor="let permission of state?.appData?.data?.userById?.permissions.split(',')" [value]="permission" [disabled]="true" class="form-control" style="margin-bottom: 5px;">
                                        </div>
                                    </div>
                                  </div>
                                  <div>
                                    <button [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" type="submit" class="btn btn-primary">
                                      <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                      <span *ngIf="isLoading$ | async">Loading...</span>
                                      <span *ngIf="!(isLoading$ | async)">Update</span>
                                    </button>
                                  </div>
                                </form>
                             </div>
                             <div class="tab-pane fade" id="application-tab" role="tabpanel" aria-labelledby="application" style="min-height: 510px;">
                                <h3 class="mb-4">Account Settings</h3>
                                <form #settingsForm="ngForm" (ngSubmit)="updateAccountSettings(settingsForm)">
                                   <!-- <input type="hidden" name="userId"> -->
                                   <span hidden> <input type="id" name="userId" [ngModel]="state?.appData?.data?.userById?.id"> </span>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <div class="form-check" [disabled]="state?.appData?.data?.userById?.roleName === 'ROLE_SYSADMIN'">
                                                <input [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                                                      [checked]="state?.appData?.data?.userById?.enabled"
                                                      [ngModel]="state?.appData?.data?.userById?.enabled"
                                                      type="checkbox" name="enabled" class="form-check-input">
                                                <label class="form-check-label" for="enabled">
                                                <b>Account Active</b>
                                                </label>
                                             </div>
                                             <div class="form-check" [disabled]="state?.appData?.data?.userById?.roleName === 'ROLE_SYSADMIN'">
                                                <input [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                                                      [checked]="state?.appData?.data?.userById?.notLocked"
                                                      [ngModel]="state?.appData?.data?.userById?.notLocked"
                                                      type="checkbox" name="notLocked" class="form-check-input">
                                                <label class="form-check-label" for="notLocked">
                                                Account Unlocked
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div>
                                       <button [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" type="submit" class="btn btn-primary">
                                          <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                          <span *ngIf="isLoading$ | async">Loading...</span>
                                          <span *ngIf="!(isLoading$ | async)">Update</span>
                                       </button>
                                    </div>
                                 </form>
                             </div>
                             <div class="tab-pane fade" id="notification-tab" role="tabpanel" aria-labelledby="notification" style="min-height: 510px;">
                                <h3 class="mb-4">Authentication Settings</h3>
                                <p>These settings help keep your account more secure.</p>
                                <div class="list-group mb-5 shadow">
                                   <div class="list-group-item">
                                       <div class="row align-items-center">
                                           <div class="col">
                                               <strong class="mb-2">Multi-Factor Authentication</strong>
                                               <span *ngIf="state?.appData?.data?.userById?.usingMfa" class="badge bg-success mx-3">Enabled</span>
                                               <span *ngIf="!state?.appData?.data?.userById?.usingMfa" class="badge bg-warning mx-3">Disabled</span>
                                               <p class="text-muted mb-0">Set up Multi-factor Authentication (MFA) help keep your account more secure</p>
                                           </div>
                                           <div class="col-auto">
                                               <button (click)="toggleMfa()" disabled class="btn btn-primary btn-sm">
                                                 {{ state?.appData?.data?.user?.usingMfa ? 'Disable' : 'Enable' }}
                                                 <span *ngIf=" (isLoading$ | async)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                               </button>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="list-group-item">
                                   <div class="row align-items-center">
                                      <div class="col">
                                            <strong class="mb-2">Activity Logs</strong>
                                            <p class="text-muted mb-0">Show the latest activities on your account</p>
                                      </div>
                                      <div class="col-auto">
                                            <div class="checkbox-wrapper-12">
                                               <div class="cbx">
                                                  <input type="checkbox" (change)="toggleLogs()" [disabled]="(isLoading$ | async)"
                                                        [checked]="(showLogs$ | async)" id="cbx-12">
                                                  <label for="cbx-12"></label>
                                                  <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                                                        <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                  </svg>
                                               </div>
                                               <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                  <defs>
                                                        <filter id="goo-12">
                                                           <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                                                           <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix"
                                                              in="blur"></feColorMatrix>
                                                           <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                                                        </filter>
                                                  </defs>
                                               </svg>
                                            </div>
                                      </div>
                                   </div>
                                </div>

                                </div>
                             </div>
                          </div>
                       </div>
                       <div *ngIf="(showLogs$ | async)" class="row">
                          <div class="col-xl-12 mt-4">
                             <div class="card" style="border-radius: 8px;">
                                <div class="card-body">
                                   <h5 class="card-title">Account Activities</h5>
                                   <h6 class="card-subtitle mb-2 text-muted">Latest activities on your account</h6>
                                   <div class="table-responsive-custom">
                                       <table class="table table-hover">
                                          <thead>
                                             <tr>
                                                <th scope="col" style="width: 10%;">Device</th>
                                                <th scope="col" style="width: 15%;">IP Address</th>
                                                <th scope="col" style="width: 20%;">Date</th>
                                                <th scope="col" style="width: 20%;">Type</th>
                                                <th scope="col" style="width: 25%;">Description</th>
                                                <th scope="col" style="width: 10%;">Action</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr *ngFor="let event of state?.appData?.data?.events">
                                                <td>{{ event.device }}</td>
                                                <td>{{ event.ipAddress }}</td>
                                                <td>{{ event.createdAt | date: 'MMMM d, y, h:mm a' }}</td>
                                                <td>
                                                   <span class="badge pill" [ngClass]="[
                                                   event.type === EventType.LOGIN_ATTEMPT_SUCCESS ? 'bg-success' : '',  
                                                   event.type === EventType.LOGIN_ATTEMPT ? 'bg-warning' : '',
                                                   event.type === EventType.PROFILE_UPDATE ? 'bg-primary' : '',
                                                   event.type === EventType.LOGIN_ATTEMPT_FAILURE ? 'bg-danger' : '',
                                                   event.type === EventType.PROFILE_PICTURE_UPDATE ? 'bg-primary' : '',
                                                   event.type === EventType.ROLE_UPDATE ? 'bg-info' : '',
                                                   event.type === EventType.ACCOUNT_SETTINGS_UPDATE ? 'bg-warning' : '',
                                                   event.type === EventType.PASSWORD_UPDATE ? 'bg-warning' : '',
                                                   event.type === EventType.MFA_UPDATE ? 'bg-info' : ''
                                                   ]">
                                                      {{ event.type }}
                                                   </span>
                                                </td>
                                                <td>{{ event.description }}</td>
                                                <td>
                                                   <button type="button" class="btn btn-sm" style="background-color: #fd5d0d; font-weight: 450;">Report</button>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                   </section>
                  <!-- /.container-fluid -->
    
          </div>

          <!-- Footer -->
            <app-footer></app-footer>
          <!-- End of Footer -->
        </div>

      </div>
      <!-- Scroll to Top Button-->

      <button [class.scroll-to-top]="showScrollButton" [class.hidden]="!showScrollButton" (click)="scrollToTop()" class="rounded">
        <i class="fas fa-angle-up"></i>
      </button>
      
    </body>

    <div *ngSwitchCase="DataState.LOADING" class="loading-container"  @fadeInOut>
      <section class="dots-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </section>
    </div>
  
     <div *ngSwitchCase="DataState.ERROR" @fadeInOut>
        <div>{{ state.error }}</div>
     </div>
  
  </div>
