<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- navbar -->
        <app-navbar></app-navbar>


            <!-- CONTENU PRINCIPAL DE LA PAGE -->
              <!-- Begin Page Content -->
              <div class="container-fluid">

                <p>agency-detail works!</p>

              </div>
              <!-- /.container-fluid -->
 
      </div>

      <!-- Footer -->
        <app-footer></app-footer>
      <!-- End of Footer -->
    </div>

  </div>
  <!-- Scroll to Top Button-->

  <button [class.scroll-to-top]="showScrollButton" [class.hidden]="!showScrollButton" (click)="scrollToTop()" class="rounded">
    <i class="fas fa-angle-up"></i>
  </button>
  
</body>
