<div *ngIf="(categoryState$ | async) as state" [ngSwitch]="state.dataState">
  <div *ngSwitchCase="DataState.LOADED" @fadeInOut>
    <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">

            <!-- navbar -->
            <app-navbar [user]="state?.appData?.data?.user"></app-navbar>


                <!-- CONTENU PRINCIPAL DE LA PAGE -->
                  <!-- Begin Page Content -->
                  <div class="container-fluid">

                    <section>
                        <nav aria-label="breadcrumb" style="margin-top: 8px;">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                              <li class="breadcrumb-item"><a [routerLink]="['/categories']">Categories</a></li>
                              <li class="breadcrumb-item active" aria-current="page">{{ state?.appData?.data?.category.name }}</li>
                            </ol>
                        </nav>
                        
                        <div class="col">
                          <h4 class="fw-bold text-start">category {{ state?.appData?.data?.category.id }}</h4>
                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                              <div class="card">
                                  <div class="card-body">
                                    <div class="d-flex align-items-start">
                                        <img src="assets/category.ico" style="position: relative" class="rounded-circle avatar-lg img-thumbnail" alt="Empty">
                                          <div class="w-100 ms-4">
                                            <h4 class="my-0">{{ state?.appData?.data?.category.name }}</h4>
                                            <p class="" style="font-size: 13px;">{{ state?.appData?.data?.category.description }}</p>
                                          </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Total Products</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">linked products</h6>
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size: 20px;">
                                          Numeral
                                          <span class="" style="font-size: 20px;">
                                            {{ state?.appData?.data?.category.products?.length }}
                                          </span>
                                        </li>
                                    </ul>
                                  </div>
                              </div>
                            </div>
                            <div class="col-xl-8">
                              <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Category Details</h5>
                                    <form #categoryForm="ngForm" (ngSubmit)="updateCategory(categoryForm)">
                                        <input type="hidden" [ngModel]="state?.appData?.data?.category.id" name="id" [disabled]="!(state?.appData?.data?.user.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user.roleName === 'ROLE_ADMIN') || (isLoading$ | async)">
                                        <div class="row mb-3">
                                          <label for="name" class="col-sm-3 col-form-label">Name</label>
                                          <div class="col-sm-9">
                                              <input type="text" [ngModel]="state?.appData?.data?.category.name" name="name" [disabled]="!(state?.appData?.data?.user.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" class="form-control">
                                          </div>
                                        </div>
                                        <div class="row mb-3">
                                          <label for="description" class="col-sm-3 col-form-label">Description</label>
                                          <div class="col-sm-9">
                                              <textarea [ngModel]="state?.appData?.data?.category.description" name="description" [disabled]="!(state?.appData?.data?.user.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" class="form-control"> </textarea>
                                          </div>
                                        </div> 
                                        <button *ngIf="state?.appData?.data?.category.products?.length === 0" [hidden]="!(state?.appData?.data?.user.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" type="button" class="btn btn-danger me-2" (click)="deleteCategory(state?.appData?.data?.category.id)" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)">
                                          <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                          <span *ngIf="isLoading$ | async">Loading...</span>
                                          <span *ngIf="!(isLoading$ | async)"><i class="fas fa-trash me-2"></i>Delete</span>
                                        </button>
                                        <button [hidden]="!(state?.appData?.data?.user.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" type="submit" class="btn btn-primary float-end">
                                          <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                          <span *ngIf="isLoading$ | async"><i class="fas fa-sync-alt me-2"></i>Loading...</span>
                                          <span *ngIf="!(isLoading$ | async)"><i class="fas fa-sync-alt me-2"></i>Update</span>
                                        </button>
                                    </form>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                              <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Products</h5>
                                    <!-- <h6 class="card-subtitle mb-2 text-muted">Product List</h6> -->
                                    <div class="table-responsive-custom">
                                      <table class="table table-hover">
                                          <thead class="table-dark">
                                            <tr>
                                                <!-- <th scope="col">ID</th> -->
                                                <th scope="col">Code</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Last Update</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let product of state?.appData?.data?.category.products" [routerLink]="['/products', product.id]" style="cursor: pointer;">
                                                <td hidden>{{ product.id }}</td>
                                                <td>{{ product.code }}</td>
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.description }}</td>
                                                <td>{{ product.prixVente | number: '1.0-0' }} CFA</td>
                                                <td>{{ product.quantity ? product.quantity : '0' }}</td>
                                                <td>
                                                  <span class="badge"
                                                  [ngClass]="[
                                                    product.status === 'AVAILABLE' ? ' bg-success' : '',
                                                    product.status === 'WARNING' ? ' bg-warning' : '',
                                                    product.status === 'EMPTY' ? ' bg-danger' : ''
                                                    ]">
                                                      {{ product.status }}
                                                  </span>
                                                </td>
                                                <td>{{ product.updateAt | date: 'mediumDate' }}</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                    </section>

                  </div>
                  <!-- /.container-fluid -->
    
          </div>

          <!-- Footer -->
            <app-footer></app-footer>
          <!-- End of Footer -->
        </div>

      </div>
      <!-- Scroll to Top Button-->

      <button [class.scroll-to-top]="showScrollButton" [class.hidden]="!showScrollButton" (click)="scrollToTop()" class="rounded">
        <i class="fas fa-angle-up"></i>
      </button>
      
    </body>
  </div>

  <div *ngSwitchCase="DataState.LOADING" class="loading-container" @fadeInOut >
    <section class="dots-container">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </section>
  </div>

   <div *ngSwitchCase="DataState.ERROR">
      <div>{{ state.error }}</div>
   </div>

</div>