<div *ngIf="(stockState$ | async) as state" [ngSwitch]="state.dataState">
  <div *ngSwitchCase="DataState.LOADED" @fadeInOut>
    <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">

            <!-- navbar -->
            <app-navbar [user]="state?.appData?.data?.user"></app-navbar>


                <!-- CONTENU PRINCIPAL DE LA PAGE -->
                  <!-- Begin Page Content -->
                  <div class="container-fluid">
                    <section>
                        <nav aria-label="breadcrumb" style="margin-top: 8px;">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                              <li class="breadcrumb-item"><a [routerLink]="['/inventories']">Inventories</a></li>
                              <li class="breadcrumb-item active" aria-current="page">{{ state?.appData?.data?.stock.stockNumber }}</li>
                            </ol>
                        </nav>
                        
                      <div class="col">
                        <h4 class="fw-bold text-start">Operation number {{ state?.appData?.data?.stock.id }}</h4>
                      </div>
                        <div class="row">
                            <div class="col-xl-4">
                              <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-start">
                                        <img src="/assets/product.ico" style="position: relative" class="rounded-circle avatar-lg img-thumbnail" alt="Empty">
                                        <div class="w-100 ms-4">
                                            <h4 class="my-0">{{ state?.appData?.data?.stock.createdAt | date:'mediumDate' }}</h4>
                                            <span class="badge" style="position: absolute; bottom: 60px; left: 113px; top: 70px; font-size: 11px; height: 18px;"
                                                  [ngClass]="[
                                                      state?.appData?.data?.stock.action === 'STOCK_IN' ? 'bg-success' : '',
                                                      state?.appData?.data?.stock.action === 'STOCK_OUT' ? 'bg-danger' : ''
                                                  ]">
                                                {{ state?.appData?.data?.stock.action }}
                                            </span>
                            
                                            <!-- Insérer ici le bouton avec l'icône Supplier -->
                                            <ul class="wrapper ms-4 float-end" style="display: inline-block; margin-top: 12px;">
                                                <li class="icon product">
                                                  <span href="#" data-bs-toggle="modal" data-bs-target="#productModal">
                                                    <span class="tooltip">Product</span>
                                                    <i class="fas fa-dolly fas-sm"></i>
                                                  </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              </div>

                                <!-- Supplier Detail Modal-->
                                <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
                                              <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">×</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                                    <div class="row mb-3">
                                                      <label for="name" class="col-sm-3 col-form-label">Name</label>
                                                      <div class="col-sm-9">
                                                        <span class="form-control" readonly>{{ state?.appData?.data?.product.name }}</span>
                                                      </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                      <label for="code" class="col-sm-3 col-form-label">Code</label>
                                                      <div class="col-sm-9">
                                                        <span class="form-control" readonly>{{ state?.appData?.data?.product.code }}</span>
                                                      </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                      <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                                                      <div class="col-sm-9">
                                                        <span class="form-control" readonly>{{ state?.appData?.data?.product.quantity }}</span>
                                                      </div>
                                                    </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xl-8">
                              <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Product Details</h5>
                                    <form>
                                        <div class="row mb-3">
                                          <label for="prixAchat" class="col-sm-3 col-form-label">Purchase</label>
                                          <div class="col-sm-9">
                                              <input type="text" readonly [ngModel]="state?.appData?.data?.stock.prixAchat" name="prixAchat" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                                          </div>
                                        </div>
                                        <div class="row mb-3">
                                          <label for="prixVente" class="col-sm-3 col-form-label">Selling</label>
                                          <div class="col-sm-9">
                                              <input type="text" readonly [ngModel]="state?.appData?.data?.product.prixVente" name="prixVente" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                                          </div>
                                        </div>
                                        <div class="row mb-3">
                                          <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                                          <div class="col-sm-9">
                                              <input type="number" readonly
                                              [ngModel]="state?.appData?.data?.stock.quantityIn !== undefined ? state.appData.data.stock.quantityIn : state?.appData?.data?.stock.quantityOut" name="quantity" 
                                              [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                                          </div>
                                        </div>
                                    </form>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </section>

                  </div>
                  <!-- /.container-fluid -->
    
          </div>

          <!-- Footer -->
            <app-footer></app-footer>
          <!-- End of Footer -->
        </div>

      </div>
      <!-- Scroll to Top Button-->

      <button [class.scroll-to-top]="showScrollButton" [class.hidden]="!showScrollButton" (click)="scrollToTop()" class="rounded">
        <i class="fas fa-angle-up"></i>
      </button>
      
    </body>
  </div>

  <div *ngSwitchCase="DataState.LOADING" class="loading-container"  @fadeInOut>
    <section class="dots-container">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </section>
  </div>

   <div *ngSwitchCase="DataState.ERROR" @fadeInOut>
      <div>{{ state.error }}</div>
   </div>

</div>
