
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion custom-bg-color" id="accordionSidebar" style="background-color: var(--blue);">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
        <div class="sidebar-brand-icon">
            <!-- <i class="fas fa-laugh-wink"></i> -->
             <img src="/assets/springo.jpg" alt="" class="rounded-image">
        </div>
        <div class="sidebar-brand-text mx-3">Spring<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

        
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <div>
                <i class="fas fa-fw fa-cog me-2"></i>
                <span>Settings</span>
            </div>
            <!-- Flèche personnalisée -->
            
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Permissions:</h6>
                <a class="collapse-item" [routerLink]="['/users']">Users</a>
                <a class="collapse-item" [routerLink]="['/agencies']">Agencies</a>
            </div>
        </div>
    </li>



    <!-- sidebar.component.html -->
    <li class="nav-item">
        <a class="nav-link collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities"
            aria-expanded="false" aria-controls="collapseUtilities">
            <div>
                <i class="fas fa-shopping-cart me-2"></i>
                <span>Trade</span>
            </div>
            <!-- Flèche personnalisée -->
            
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Trads Operations:</h6>
                <a class="collapse-item" [routerLink]="['/invoices']">Invoices</a>
                <a class="collapse-item" [routerLink]="['/customers']">Customers</a>
                <a class="collapse-item" [routerLink]="['/orders']">Orders</a>
                <a class="collapse-item" [routerLink]="['/products']">Products</a>
                <a class="collapse-item" [routerLink]="['/categories']">Categories</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <div class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
            aria-expanded="false" aria-controls="collapsePages">
            <div>
                <i class="fas fa-fw fa-tasks me-2"></i>
                <span>Managment</span>
            </div>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Managment:</h6>
                <a class="collapse-item" [routerLink]="['/fournisseurs']">Suppliers</a>
                <a class="collapse-item" [routerLink]="['/inventories']">Inventories</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="">404 Page</a>
                <a class="collapse-item" href="">Blank Page</a>
            </div>
        </div>
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-headset"></i>
            <span>S.A.V</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-table"></i>
            <span>Reports</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="assets/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>Spring Market <sub>v 1.0</sub></strong> For personalized assistance, please Dial: +237 682629274</p>
        <a class="btn btn-success btn-sm" (click)="openMail()">Mailing</a>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-5">
    <hr class="sidebar-divider my-5">
    <hr class="sidebar-divider my-5">
    <hr class="sidebar-divider my-5">
    <hr class="sidebar-divider my-4">

</ul>
  <!-- End of Sidebar -->