<div *ngIf="(newFournisseurState$ | async) as state" [ngSwitch]="state.dataState">
  <div *ngSwitchCase="DataState.LOADED" @fadeInOut>

    <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">

            <!-- navbar -->
            <app-navbar [user]="state?.appData?.data?.user"></app-navbar>


                <!-- CONTENU PRINCIPAL DE LA PAGE -->
                  <!-- Begin Page Content -->
                  <div class="container-fluid">

                    <section>
                      <nav aria-label="breadcrumb" style="margin-top: 2px;">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                  <a [routerLink]="['/']">Home</a>
                              </li>
                              <li class="breadcrumb-item"> <a [routerLink]="['/fournisseurs']">Suppliers</a> </li>
                              <li class="breadcrumb-item active" aria-current="page">New</li>
                          </ol>
                      </nav>
                      <div class="row justify-content-center">
                          <div class="col-md-12">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="text-center">
                                          <h2><i class="fas fa-truck fa-sm"></i> New Supplier</h2>
                                      </div>
                                      <div *ngIf="state.error"
                                          class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                                          role="alert">
                                          {{ state.error }}
                                          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                              aria-label="Close">
                                          </button>
                                      </div>
      
                                      <form #newFournisseurForm="ngForm" (ngSubmit)="createFournisseur(newFournisseurForm)" [hidden]="!(state?.appData?.data?.user.roleName === 'ROLE_SYSADMIN'|| state?.appData?.data?.user.roleName === 'ROLE_ADMIN')">
                                          <div class="row">
                                              <div class="col-md-6" style="margin-bottom: 15px;">
                                                  <div class="form-group">
                                                      <label>Name</label>
                                                      <input type="text" ngModel name="name" class="form-control" required>
                                                  </div>
                                              </div>
                                              <div class="col-md-6" style="margin-bottom: 15px;">
                                                  <div class="form-group">
                                                      <label>Code</label>
                                                      <input type="text" ngModel name="code" class="form-control" required>
                                                  </div>
                                              </div>
                                              <div class="col-md-6" style="margin-bottom: 15px;">
                                                <div class="form-group">
                                                  <label for="phone">Phone</label>
                                                  <input type="text" ngModel name="phone" class="form-control" required>
                                               </div>
                                             </div>
                                             <div class="col-md-6" style="margin-bottom: 15px;">
                                                <div class="form-group">
                                                  <label for="email">Email</label>
                                                  <input type="text" ngModel name="email" class="form-control" required>
                                                </div>
                                             </div>
                                             <div class="col-md-6" style="margin-bottom: 15px;">
                                                 <div class="form-group">
                                                     <label for="city">City</label>
                                                     <input type="text" ngModel name="city" class="form-control" required>
                                                 </div>
                                             </div>
                                             <div class="col-md-6" style="margin-bottom: 15px;">
                                                 <div class="form-group">
                                                     <label for="address">Address</label>
                                                     <textarea ngModel name="address" class="form-control" required></textarea>
                                                 </div>
                                             </div>
                                          </div>
                                          <div>
                                              <button [disabled]="state.dataState === DataState.LOADING || newFournisseurForm.invalid || newFournisseurForm.pristine|| (isLaoding$ | async)"
                                               type="submit" class="btn btn-primary mt-5">
                                                  <span *ngIf="isLaoding$ | async" class="spinner-border spinner-border-sm"
                                                      role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                                  <span *ngIf="isLaoding$ | async">Saving...</span>
                                                  <span *ngIf="!(isLaoding$ | async)"> <i class="fas fa-save me-2 fa-sm"></i>Save</span>
                                              </button>
                                          </div>
                                      </form>
                                      <!-- Message d'information -->
                                      <div *ngIf="!(state?.appData?.data?.user.roleName === 'ROLE_SYSADMIN'|| state?.appData?.data?.user.roleName === 'ROLE_ADMIN')">
                                        <div class="alert alert-warning mt-3" role="alert">
                                        Vous n'avez pas les autorisations nécessaires pour accéder à ce formulaire. Veuillez contacter l'administrateur.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </section>

                  </div>
                  <!-- /.container-fluid -->
    
          </div>

          <!-- Footer -->
            <app-footer></app-footer>
          <!-- End of Footer -->
        </div>

      </div>
      <!-- Scroll to Top Button-->

      <button [class.scroll-to-top]="showScrollButton" [class.hidden]="!showScrollButton" (click)="scrollToTop()" class="rounded">
        <i class="fas fa-angle-up fa-sm"></i>
      </button>
      
    </body>
  </div>

  <div *ngSwitchCase="DataState.LOADING" class="loading-container" @fadeInOut>
    <section class="dots-container">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </section>
  </div>

   <div *ngSwitchCase="DataState.ERROR" @fadeInOut>
      <div>{{ state.error }}</div>
   </div>

</div>
